@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Russo+One&family=Stalinist+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
}

li, a, button {
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 30px;
    height: 200px;
}

.nav-logo {
    width: 100px;
}

.logo {
    cursor: pointer;
}

.hr-dashed {
    border: 0;
    height: 0;
    border-bottom: 2px dashed fuchsia;
}

.hr-linear {
    border: 0;
    height: 0;
    border-bottom: 1px solid fuchsia;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: black;
}

.hyperlinks {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2% 30px;
}

.hyperlinks li {
    display: inline-block;
    padding: 0 20px;
}

.hyperlinks li a {
    transition: all 0.3s ease 0s;
}

.hyperlinks li a:hover {
    color: black;
}

button {
    padding: 9px 25px;
    background-color: rgb(255, 255, 255, 8);
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

body {
    background-color: #0A0A0A;
    background-attachment: fixed;
    font-family: 'Marmelad', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin: auto;
    width: 96%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Russo one", system-ui;
    margin: 1em 1em;
    color: white;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    font-family: 'Stalinist One', cursive;
    color: fuchsia;
    margin: auto;
}

h2 {
    font-family: 'Russo One', sans-serif;
}

a {
    color: #ffffff;
    font-size: 20px;
}

b, strong {
    font-weight: bold;
}

img {
    background: transparent;
    border-radius: 20px;
    max-width: 95%;
    width: 400px;
    height: 300px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
    color: fuchsia;
}

.row::after {
    clear: both;
    display: table;
}
